<div *ngIf="format">
    id: {{format.id}}

    name: 
    height: 
    width: 
    landscape: 
    <!-- si on est en mode d'edition on affiche le formulaire -->
    <div *ngIf="editMode">
        <form [formGroup]="formEdit" (ngSubmit)="edit()">
            <input type="text" formControlName="name">
            <input type="text" formControlName="height">
            <input type="text" formControlName="width">
            <input type="checkbox" formControlName="landscape">

            <button type="submit">ok</button>
        </form>
    </div>
    <!-- sinon on affiche les données normalement -->
        <span *ngIf="!editMode">
            {{format.name}}
            {{format.height}}
            {{format.width}}
            {{format.landscape}}
        </span>
        <button (click)="toggleEdit()">edit</button>
</div>